.photo {
    background-image: url('https://images.unsplash.com/photo-1523217582562-09d0def993a6?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2080');
    background-repeat: no-repeat;
    background-size:50%
}

.vl {
    border-left: 1px solid grey;
    height: 300px;
  }