<nav class="sticky top-0 z-50 grid grid-cols-2 shadow-md p-5 md:px-10 bg-neutral-800">
    <div class="relative flex items-center h-10 cursor-pointer my-auto">
        <div class="navbar-header">
            <a class="navbar-brand text-white text-lg sm:text-2xl" routerLink="/">Mortgage Loan App</a>
           
        </div>
        </div>

        <div class="flex items-center justify-end">
            <ul class="text-white">
                <li>
                    <a style="cursor: pointer" class="text-light mr-5 invisible sm:visible" (click)="consoleLog()">Contact Us</a>
                    <fa-icon [icon]="faUser" class="mr-2"></fa-icon>
                    <a *ngIf="!isAuthenticated" style="cursor: pointer" class="text-light" routerLink="/login">Login</a>
                    <a *ngIf="(isAuthenticated && route === '/') || (isAuthenticated && route === '/calculator')" style="cursor: pointer" routerLink="/dashboard">Profile</a>
                    <a *ngIf="(isAuthenticated && route !== '/') && (isAuthenticated && route !== '/calculator')"  style="cursor: pointer" (click)="onLogout()">Logout</a>
                  
                </li>
            </ul>
        </div>
     

</nav>