.p-autocomplete{
    min-width: 100%
  }


  .p-downpayment{
     min-width: 75%;
  }

  .p-interestRate {
      min-width: 20%
  }

  .p-propertyTax {
      min-width: 100%
  }

  .p-propertyTax1 {
      min-width: 75%
  }

  ::ng-deep .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
    background: purple;
  }

