<div class="container mx-auto md:w-8/12">
  <app-sub-header></app-sub-header>
  <div class="mt-5">
    <p class="text-black text-4xl font-semibold">Your Dashboard</p>
    <button (click)="logger()">Console Log</button>
  </div>

  <div class="grid grid-rows-4 grid-cols-3 gap-10">
    <div class="rounded-lg shadow-lg h-full row-span-2 col-span-2">
      <div class="flex h-full w-full">
        <div class="block p-6 rounded-lg shadow-lg bg-white w-full">
          <h5 class="text-gray-900 text-3xl leading-tight font-bold mb-2">
            Loan Info
          </h5>
          <div class="border bg-gray-100 h-48 mt-8 ml-4 mr-4">
            <div class="grid grid-cols-2 grid-rows-2 gap-1">
              <div class="flex h-20 items-center justify-center">
                <h1 class="text-2xl font-extralight">Upcoming Payment:</h1>
                <p class="font-semibold ml-2 text-2xl">${{totalMonthlyPayment}}</p>
              </div>
              <div class="flex items-center justify-center">
                <button
                  type="button"
                  class="text-lg inline-block px-6 py-2.5 bg-red-600 text-white font-medium leading-tight uppercase rounded shadow-md hover:bg-red-600 hover:shadow-lg focus:bg-red-600 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
                >
                  Make A Payment
                </button>
              </div>
              <div class="flex items-center justify-evenly">
                <div class="block">
                  <p class="font-light">Payment Due Date:</p>
                  <p class="font-medium">June 1, 2022</p>
                </div>
                <div class="block">
                  <p class="font-light">Last Payment Received:</p>
                  <p class="font-medium">May 4, 2022</p>
                </div>
              </div>
              <div class="flex items-center justify-center">
                <div
                  class="block underline text-center text-purple-600 cursor-pointer"
                >
                  <p class="mt-1">Setup Autopay</p>
                  <p class="mt-1">Edit Paperless Billing</p>
                  <p class="mt-1">View Loan Activity</p>
                </div>
              </div>
            </div>
          </div>
          <div class="grid grid-cols-3 grid-rows-3 mt-10 ml-5 mr-4">
            <div class="h-28 text-lg font-light">Principal And Interest</div>
            <div class="text-lg text-center">${{totalMonthlyPayment}}</div>
            <div class="text-lg row-span-2 pr-20">
              
              <p-chart #chart type="doughnut" [data]="userAppData" [options]="options" width="200"></p-chart>



            </div>
            <div class="text-lg font-light">Total Payment</div>
            <div class="text-lg text-center">${{totalMonthlyPayment}}</div>
            <div class="text-lg font-light">Interest Paid YTD</div>
            <div class="text-lg text-center">$1,642.13</div>
            <div class="block">
              <div class="text-lg underline text-purple-600 cursor-pointer">
                Ready to refinance?
              </div>
              <div class="text-lg underline text-purple-600 cursor-pointer">
                Ready to purchase?
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="h-72 max-w-lg rounded-lg shadow-lg bg-white">
      <div class="flex h-full w-full">
        <div class="block p-6">
          <h5
            class="text-gray-900 text-4xl leading-tight font-medium mb-2 mt-2"
          >
            Loan Questions
          </h5>
          <p class="text-gray-700 text-base mb-4 font-light">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id
            sapien finibus, porta ligula sed, hendrerit dolor. Ut fermentum,
            purus et scelerisque congue, neque lectus aliquam metus, sed gravida
            libero felis vitae ligula.
          </p>
          <div class="flex text-purple-600 items-center">
            <p class="text-lg cursor-pointer">Checkout more loan questions</p>
            <fa-icon [icon]="arrowRight" class="ml-1"></fa-icon>
          </div>
        </div>
      </div>
    </div>

    <div class="h-72 max-w-lg rounded-lg shadow-lg bg-black">
      <div class="flex h-full w-full">
        <div class="block p-6">
          <h5 class="text-white text-4xl leading-tight font-medium mb-2">
            Finding new rate starts here
          </h5>
          <p class="text-white text-base mb-4 font-light">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id
            sapien finibus, porta ligula sed, hendrerit dolor.
          </p>
          <p class="text-white underline cursor-pointer">Checkout refi options</p>
        </div>
      </div>
    </div>

    <div class="h-72 rounded-lg shadow-lg col-span-2">
      <div class="flex h-full w-full">
        <div class="block rounded-lg shadow-lg bg-white w-full">
          <div class="grid grid-cols-3 gap-1 h-full">
            <div class="bg-purple-600 flex rounded-l-lg">
              <div class="block mt-20 mx-auto">
                <fa-icon
                  [icon]="faDollar"
                  class="text-white text-6xl"
                ></fa-icon>
                <h5 class="text-white leading-tight font-medium mt-5 text-4xl">
                  Loan Activity
                </h5>
              </div>
            </div>
            <div class="grid col-span-2 ml-10">
              <h1 class="text-xl mt-10">May 4</h1>
              <p class="font-light">Your ${{totalMonthlyPayment}} payment has been applied</p>
              <button
                class="mx-2 text-red-600 font-semibold py-2 px-4 border border-red-600 hover:bg-red-600 hover:text-white hover:border-transparent rounded h-10 w-2/4"
              >
                See All Activity
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="h-64 max-w-lg rounded-lg shadow-lg bg-blue-500">
      <div class="flex h-full w-full">
        <div class="block p-6">
          <h5 class="text-white text-3xl leading-tight font-medium mb-4">
            Get your 1098
          </h5>
          <p class="text-white text-base mb-6 font-light">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id
            sapien finibus, porta ligula sed, hendrerit dolor.
          </p>
          <button
            class="mx-2 text-white py-2 px-4 border border-white hover:bg-white hover:text-blue-500 hover:border-transparent rounded w-full font-light text-xl"
          >
            View Documents
          </button>
        </div>
      </div>
    </div>

    <div class="h-72 rounded-lg shadow-lg col-span-2">
      <div class="flex h-full w-full">
        <div class="block p-6 rounded-lg shadow-lg bg-white w-full">
          <h5 class="text-gray-900 text-3xl leading-tight font-bold mb-2">
            My Loan Details
          </h5>
          <div class="border bg-gray-100 flex justify-start h-28">
            <div class="grid grid-cols-2 gap-1 w-full ml-5 items-center">
              <div>
                <p class="text-lg font-medium">Your Remaining Loan Balance:</p>
                <p>${{remainingLoanBalance}}</p>
              </div>
              <div>
                <p class="text-lg font-medium">Rate:</p>
                <p>3.125%</p>
              </div>
            </div>
          </div>
          <button
            type="button"
            class="mt-5 w-full inline-block px-6 py-2.5 bg-red-600 text-white text-lg font-light leading-tight uppercase rounded shadow-md hover:bg-red-600 hover:shadow-lg focus:bg-red-600 focus:shadow-lg focus:outline-none focus:ring-0 transition duration-150 ease-in-out"
          >
            Refinance My Loan
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
