<div class="container mx-auto md:w-8/12">
  <app-sub-header></app-sub-header>
  <div class="mt-5">
    <p class="text-black text-4xl font-semibold">File Upload</p>
  </div>
 

  <div class="row dropzone w-full max-w-md mx-auto mt-5 bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 text-center">
    <fa-icon [icon]="faDownload" class="mr-2 text-6xl"></fa-icon>
    <h1 class="mt-2">Please upload documents only in 'pdf' or 'docx' format. </h1>
    <div class="mt-5">
      <label  for="file-upload" class="bg-purple-600 hover:bg-purple-800 text-white font-bold py-2 px-4 ml-1 mr-1 rounded-lg focus:outline-none focus:shadow-outline cursor-pointer">
        <input id="file-upload" type="file" ng2FileSelect [uploader]="uploader" />
        Select A File
      </label>
    </div>

    <div class="col-md-9" style="margin-bottom: 40px">
    

      <table class="table mx-auto mt-5">
 
        <tbody class="flex bg-white shadow-md rounded">
          <tr *ngFor="let item of uploader.queue">
           
            <td class="text-center" >
              <strong>{{ item?.file?.name }}</strong>
            </td>
            <td *ngIf="uploader.options.isHTML5" nowrap>
              {{ item?.file?.size / 1024 / 1024 | number: ".2" }} MB
            </td>
            <td *ngIf="uploader.options.isHTML5">
              <div class="progress" style="margin-bottom: 0">
                <div
                  class="progress-bar"
                  role="progressbar"
                  [ngStyle]="{ width: item.progress + '%' }"
                ></div>
              </div>
            </td>
   
            <td class="block mt-2 ">
         
              <button
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 ml-1 mr-1 rounded-lg focus:outline-none focus:shadow-outline"
                type="button"
                (click)="item.upload()"
                [disabled]="item.isReady || item.isUploading || item.isSuccess"
              >
                Upload
              </button>

              <!-- <button
                type="button"
                class="focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-bold rounded-lg  py-2 px-4 ml-1 mr-1 dark:focus:ring-yellow-900"
                (click)="item.cancel()"
                [disabled]="!item.isUploading"
                >
                Cancel
              </button> -->

              <button
                type="button"
                class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-bold rounded-lg  py-2 px-4 ml-1 mr-1 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900"
                (click)="item.remove()"
              >
                Remove
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <br /><br />
</div>
