<div class="flex items-center justify-center mt-5">
    <ul class="flex text-black ml-10 text-xl">
        <fa-icon [icon]="faPieChart" class="mr-2"></fa-icon><li routerLinkActive="active" ><a routerLink="/dashboard" class="text-decoration-none text-light mr-10">Dashboard</a></li>
        <fa-icon [icon]="faFile" class="mr-2"></fa-icon><li routerLinkActive="active" ><a routerLink="/documents" class="text-decoration-none text-light mr-10">Documents</a></li>
        <fa-icon [icon]="faCreditCard" class="mr-2"></fa-icon><li routerLinkActive="active" ><a routerLink="/transactions" class="text-decoration-none text-light mr-10">Payment Activity</a></li>
    </ul>
</div>
<div class="text-right">
<hr class="border-1 border-slate-600 mt-5 items-center text-right mx-auto">
</div>
